body { background-color:  #2f5648 ; 
}

h1 {
    color:  darkorange; font-family:  'Times New Roman' ; font-size: 50px; font-style: italic 
}



#dare1 {
    color:  #fbd534; }
#dare2 {
    color:    #34ffff ;
}
#dare3 {
    color:   antiquewhite;
}

#dare4 {
    color:    antiquewhite;
}

h2 {
    color:  #d4e316; font-family: inherit ;
}

#dare5 {
    color: darkorange; font-family: 'Times New Roman'; font-size: 80px;
}

ol  {
    color: wheat;
}

